.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bar{
  stroke:#555;
}

svg{
  overflow: visible;
  margin-bottom: 6rem;
  margin-top: 2rem;
  margin-left: 2rem;

  
}

.x-axis text{
  font-size: 1rem;
  transform: translate(150px, 12px);
  transform: rotate(60deg);
  text-anchor: start;
}

.barContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 100px;					
  					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightsteelblue; 
  border-radius: 8px;			
  pointer-events: none;	

  opacity: 0;
		
}

.xlabel{
  font-weight: 100;
}

.ylabel{
  font-weight: 100;
  transform: translate(-20px,-30px);
}

.colorlabel{
  font-weight: 100;
  transform: translate(-20px,-10px);
}

.radiuslabel{
  font-weight: 100;
  transform: translate(-20px,-10px);
}

.chartContainer{

  display:flex;
  flex-direction: column;
  justify-content: flex-center;
  align-items: flex-start;
  
}

svg{
  border: 2px solid black;
}

.horizontalBar{
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  border:2px solid red;
}